<html lang="en">
    {{!-- //header --}}
{{>head}}
<body>
    {{>navbar}}
    {{!-- <body>--}}

        <div class="container">
               {{{body}}}
        </div>
 

    {{>footer}}

</body>
</html>